<% if(success && success.length) {%>
    <h4 style="color: green;" class="flash-messages"><%= success %> </h4>
<% } %> 

<% if(error && error.length) {%>
    <h4 style="color: red;" class="flash-messages"><%= error %> </h4>
<% } %> 