<header>
	<h2><a href="/">UIT-RGPV</a></h2>
	<nav>
		<li><a href="/aboutus" class="item">AboutUs</a></li>
		<li><a href="/posts" class="item">Documents</a></li>
		<% if(!currentUser) { %>
			<li><a href="/login" class="item">Login</a></li>
			<% } else { %>
			<li><a href="/logout" class="item">Logout</a></li>
			Welcome, <%= currentUser.username %>
			<% } %> 
	</nav>

</header>