<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link ref="stylesheet" type="text/css" href="dist/snackbar.min.css" /> 
    <script src="dist/snackbar.min.js"></script>
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %> 
    <%- include('../partials/flash-messages.ejs') %> 
    <%- body -%> 
</body>
</html>