<% layout('layouts/boilerplate') %> 
<section class="hero">
    <div 
    class="background-image"
    style="background-image: url(/images/Bg_img.jpg);"></div>
    <div class="hero-content-area">
        <h1><%= title %></h1>
        <h3>Upload and Track your Files</h3>
        <a href="/posts/new" class="btn">Add Files</a>
    </div>
</section>